{
    "presets": ["babel-preset-react", "babel-preset-env"],
    "plugins": [
        "react-hot-loader/babel",
        "babel-plugin-transform-class-properties",
        "babel-plugin-transform-object-rest-spread"
    ]
}
